<!DOCTYPE html>
<html>
<head>
	<title>Register Form</title>
</head>
<body>
	<h3>Register Here!</h3>
	<form action="" method="POST">
		<label>Email Address</label>
		<input type="email" name="Email" placeholder="your email address...">
		<label>Username</label>
        <input type="text" name= "username" placeholder="your username...">
		<label>Password</label>
        <input type="password" name="password" placeholder="your password...">
		<button type="submit">Sign Up</button>
        <a href="{{ url_for('login') }}">Log In</a>
	</form>
</body>
</html>
